In [2]:
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn as skl

In [7]:
df=pd.read_csv('C:/Users/Rory/Downloads/ppd_data.csv',index_col = 'unique_id')
df['deed_date'] = pd.to_datetime(df['deed_date'])
df['deed_date'].dtype

dtype('<M8[ns]')

In [8]:
df.head()

,price_paid,deed_date,postcode,property_type,new_build,estate_type,saon,paon,street,locality,...,F,Unnamed: 22,5,MILL LANE,Unnamed: 25,CARDIFF,CARDIFF.1,CARDIFF.2,B,http://landregistry.data.gov.uk/data/ppi/transaction/68FEB20C-6B59-38DA-E053-6C04A8C051AE/current
unique_id,,,,,,,,,,,,,,,,,,,,,
68FEB20C-6B6B-38DA-E053-6C04A8C051AE,3703345,2017-12-19,CF1 1FL,O,N,F,NaN,6,MILL LANE,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
404A5AF4-73EF-CD2B-E050-A8C063055C7B,450000,2016-09-16,CF1 3BY,O,N,F,NaN,19,WINDSOR PLACE,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50F18103-F400-9FD5-E050-A8C063054923,560000,2017-05-09,CF1 7NJ,O,N,F,NaN,162,PENARTH ROAD,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7011B10A-450D-8ED6-E053-6B04A8C075C1,360000,2018-05-30,CF1 7TT,O,N,F,NaN,UNIT 4,PENARTH ROAD,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
582D0636-B563-8F22-E053-6C04A8C01BAC,57500,2017-07-28,CF1 8LT,F,N,L,NaN,64,LOWER CATHEDRAL ROAD,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df=df[['price_paid','deed_date','postcode','property_type','new_build']]

In [12]:
df.head()

,price_paid,deed_date,postcode,property_type,new_build
unique_id,,,,,
68FEB20C-6B6B-38DA-E053-6C04A8C051AE,3703345,2017-12-19,CF1 1FL,O,N
404A5AF4-73EF-CD2B-E050-A8C063055C7B,450000,2016-09-16,CF1 3BY,O,N
50F18103-F400-9FD5-E050-A8C063054923,560000,2017-05-09,CF1 7NJ,O,N
7011B10A-450D-8ED6-E053-6B04A8C075C1,360000,2018-05-30,CF1 7TT,O,N
582D0636-B563-8F22-E053-6C04A8C01BAC,57500,2017-07-28,CF1 8LT,F,N

In [13]:
df['postcode'].head(50)

unique_id
68FEB20C-6B6B-38DA-E053-6C04A8C051AE     CF1 1FL
404A5AF4-73EF-CD2B-E050-A8C063055C7B     CF1 3BY
50F18103-F400-9FD5-E050-A8C063054923     CF1 7NJ
7011B10A-450D-8ED6-E053-6B04A8C075C1     CF1 7TT
582D0636-B563-8F22-E053-6C04A8C01BAC     CF1 8LT
81EEE99D-A097-4545-B3CB-AB8519911D8B     CF1 9HD
666758D7-9775-3363-E053-6B04A8C0D74E    CF10 1AB
64342BFF-408B-422C-E053-6C04A8C0FB8A    CF10 1AB
5F54B81E-1765-2B45-E053-6B04A8C01FB0    CF10 1AB
666758D7-988C-3363-E053-6B04A8C0D74E    CF10 1AB
A96E4ACC-F09F-9205-E053-6C04A8C0DA09    CF10 1AD
2AC10E50-678F-1AF6-E050-A8C063052BA1    CF10 1AH
8A78B2AF-5D21-5CB0-E053-6B04A8C0F504    CF10 1AQ
DAD5DDE3-D0F4-4A6A-819A-6EC1AE641EEE    CF10 1AQ
07CA4D7F-CFE1-4A36-998C-E1703C8B64E8    CF10 1AQ
D5BB3672-C5D4-49F5-93D8-12B2FD9D738E    CF10 1AQ
42070F39-FA1B-4B55-B2B1-C68E0327E529    CF10 1AQ
923EC8DA-5BED-44FC-BEEE-04BE3424755E    CF10 1AQ
0532820B-A798-4C40-9F10-A3D5A3607CA8    CF10 1AQ
9B361206-0D4B-1904-E053-6B04A8C0EEB5    CF10 1AQ
ACFA63BA-5368-4794-AF6F-5A289A0E3F4D    CF10 1AQ
1DE6E6E7-18F4-4FA5-9D49-A5AB6C8D900D    CF10 1AQ
5376B385-3292-34C1-E053-6B04A8C09FF6    CF10 1AQ
D3CCB15B-1C81-4F0A-87CE-1FE8019FB9B5    CF10 1AQ
533EAAAB-9107-4641-B255-D4E93F0DAC12    CF10 1AQ
6151200A-B0F3-43CB-8885-8B44E542E1D9    CF10 1AQ
75050A84-DAEA-9A88-E053-6B04A8C02390    CF10 1AQ
7F1FCA17-51E6-43C3-8FC7-13B84701CC13    CF10 1AQ
5B90EA09-4CDE-4B91-BA2F-A37DA7BDE8BB    CF10 1AQ
3B7E0B8F-A005-EA99-E050-A8C062057E77    CF10 1AQ
D7100F9E-A0C4-474E-9C35-5497D0D156B4    CF10 1AQ
3EEE7402-1086-4A47-BBA2-F7E6673C720C    CF10 1AQ
2D1E4B27-17F8-FCD1-E050-A8C0630544EC    CF10 1AQ
9C49711C-9BF5-4F17-B898-23FBB8CDC73F    CF10 1AQ
78B519FA-5044-497C-981C-48D5D1950F08    CF10 1AQ
DB7178DC-E70E-435E-8D73-F11C41D35F5F    CF10 1AQ
F5D19DB1-D0F3-4930-BA96-8120A90B7825    CF10 1AQ
DA45F756-B7C0-46F0-ADF8-6A582F69E54B    CF10 1AQ
AFDD60A0-439F-462A-B554-F7E60D71BBE8    CF10 1AQ
E86E0553-AD67-4A71-8E78-A8AAC97CB064    CF10 1AQ
2A289E9E-1670-CDC8-E050-A8C063054829    CF10 1AQ
60F000A7-0B78-4D37-95CD-1EACF30EA570    CF10 1AQ
1A74E9ED-8754-4ABE-9CA8-46309A094726    CF10 1AQ
2500CECD-0EB1-4C23-8F2E-DB69D026F8AA    CF10 1AQ
0B2F9161-0153-4448-B3C0-E63196811E55    CF10 1AQ
80508A4D-239D-4682-9F42-FED7ADF42360    CF10 1AQ
87E1551E-D613-6405-E053-6C04A8C0B2EE    CF10 1AQ
2F3FD173-303F-4E99-975D-1E3B357234E4    CF10 1AQ
0729631C-E8F1-42A5-A48E-DA339B90DF66    CF10 1AQ
5C4848B5-4325-4AEB-BB41-382E468D0F80    CF10 1AQ
Name: postcode, dtype: object